{% extends "base.html" %}

{% block content %}

    <form action="/register" method="POST">
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td>
                    <input name="username" type="text" value="{{user}}">
                    <span class="error">{{user_error}}{{blank_error}}</span>
                </td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td>
                    <input name="password" type="password">
                    <span class="error">{{pass_error}}{{password_error}}</span>
                </td>
            </tr>
             <tr>
                <td><label for="verify">Verify Password</label></td>
                <td>
                   <input name="verify" type="password">
                    <span class="error">{{v_error}}{{verify_error}}</span>
                </td>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td>
                        <input name="email" value="{{e_mail}}">
                        <span class="error">{{e_error}}</span>
                    </td>
                </tr>
            </table>
            <input type="submit">
           
        </form>
    </body>
</html>
{% endblock %}